.label-middle {
  margin-top: 5px;
}

#ribbon .breadcrumb a {
  color: #56bb55 !important;
  font-size: 1em !important;
}

.form-horizontal .input {
  display: block;
  font-weight: 400;
  position: relative;
}

.form-horizontal .icon-append {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 3px;
  right: 5px;
}

.form-horizontal .icon-append, .form-horizontal .icon-prepend {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 22px;
}

.content-header {
  margin-bottom: 10px;
}

.total_records {
  position: relative; 
  top: 10px;
}

.items_per_page {
  position: relative; 
  top: 3px;
}

.wp-pagesize {
  max-width: 100px;
}

.modal-title {
  color: #33302F;
  font-family: arial;
}

.modal-footer-custom {
  text-align: left;
}

.modal-body-custom {
  padding-bottom: 5px;
}

.require {
  color: red;
}

#category_form_button {
  margin-left: 7px;
}

.formError .formErrorContent, .customErrorContent {
  width: 100% !important;
  background: transparent !important;
  color: red !important;
  border: none !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  padding: 4px 10px 4px 10px;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  padding: 4px 10px 4px 0px !important;
  font-size: 11px !important;
  font-weight: normal !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

input.error,  input.error:focus{
  border: 1px solid #ee0101 !important;
}

label.error {
  color: #ee0101 !important;
}

.custom-chosen {
  .chosen-container-single, .chosen-container-multi {
    width: 100% !important;
  }

  .chosen-container-single .chosen-search {
    background: none;
  }

  .chosen-container-single .chosen-single {
    width: 100%;
    padding: 4px 0px 0px 15px !important;
    height: 32px !important;
    line-height: 21px !important;
    border-radius: 0px !important;
  }
}

.has-error {
  border-color: #b94a48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.no-error{
  border-color: #CCCCCC;
}

.form-horizontal input[type="checkbox"] {
  margin: 10px 0 0;
}

.user-type-option-label {
  margin-right: 10px;
  position: relative;
}

.box-descriptions {
  .widget-body.no-padding {
    margin: 0px;
  }

  .md-editor > textarea {
    background: none;
  }

  .widget-body .md-editor{
    border-top: 1px solid #CCC !important;
  }

  .jarviswidget {
    margin-bottom: 0;
  }
}

.ui-datepicker{
  z-index: 10020 !important;
}

.bg-danger-red {
  background: #ea6161 !important;
}

#table_transaction_wrapper .dt-toolbar {
  padding: 1px !important;
}

span.expense {
  color: #e64b30;
}

span.income {
  color: #51b44f;
}
